body {
    font-family: "Helvetica", sans-serif;
}

#donation-content-container {
    width: 50%;
    margin: auto;
}

#donation-link {
    text-decoration: none;
}

#unicef-logo {
    height: 5vh;
    width: 35vw;
    margin: 1rem auto;
    background-image: url(../img/unicef_logo_dark.png);
    background-repeat: no-repeat;
    margin-bottom: 0
}

.logo {
    margin-top: 1rem;
    height: 5vh;
    width: 100%;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.action-link {
    color: #04f;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.promo-item {
    height: 60vh;
    padding: 0 2rem;
    background-size: 200vw;
    background-position: 49% 80%;
    background-repeat: no-repeat;
}

.text-container {
    margin-top: 1rem
}

.section-header {
    font-size: 2rem;
    font-weight: bold;
}

#macbook-air {
    background-image: url(../img/hero_macbookair_small2x.png);
    background-size: 250vw;
}

.m2-logo-container {
    background-image: url(../img/logo_promo_macbookair__sm_light.png);
    background-size: 50%;
}

.m2-logo-container-dark {
    background-image: url(../img/logo_promo_m2_small.png);
}

.m2-logo-container-light {
    background-image: url(../img/logo_promo_macbookair__sm_light.png);
}

#ipad-air-promo{
    background-color: #000;
    color: #fff;
    background-image: url(../img/promo_ipadair_small.jpg);
}

#ipad-air-image {
    height: 5vh;
    width: 100%;
    margin-top: 2rem;
    background-image: url(../img/promo_logo_ipadair.png);
    background-repeat: no-repeat;
    background-position: center;
}

#iphone13 {
    background-image: url(../img/hero_iphone13_small.jpg);
}

#supercharged-text{
    color: rgb(255, 0, 89)
}

#supercharged {
    background-image: url(../img/hero_bts_small.jpg);
    background-size: 250vw;
}

#iphone13-pro-promo {
    background-image: url(../img/iphone13_small.jpg);
    background-size: 250vw;
}

#apple-fitness-promo{
    background-image: url(../img/tile_applefitness__fdk8xvz0dvu6_small.jpg);
}

#apple-fitness-logo {
    background-image: url(../img/logo__fitness_medium_2x.png);
}

#macbook-13-promo{
    padding: 2rem;
    color: #fff;
    background-image: url(../img/promo_mb13_small2x.jpg);
}

#apple-event-promo{
    color: #fff;
    background-image: url(../img/event_bg_sm2x.jpg);
}

#event-text-container{
    margin-bottom: 1rem;
}

#watch-7-promo{
    padding: 2rem;
    color: #fff;
    background-image: url(../img/promo_watch_7_bg_sm2x.jpg);
}

#apple-watch-7-logo {
    margin-top: 1rem;
    height: 7vh;
    width: 100%;
    background-image: url(../img/promo_watch_7_sm2x.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

#watch-7-promo .action-link{
    color: #fff
}

#disclaimer-section ul li {
    list-style: none;
    margin-bottom: 1rem;
}

/* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;*/

/*Note: If one of the properties in the shorthand declaration is the bg-size property, you must use a / (slash) to separate it from the bg-position property, e.g. background:url(smiley.gif) 10px 20px/50px 50px; will result in a background image, positioned 10 pixels from the left, 20 pixels from the top, and the size of the image will be 50 pixels wide and 50 pixels high.*/

