body {
    font-family: 'PT Sans', sans-serif;
}

.nav-link {
    font-size: 0.8rem;
}

#donation-content-container {
    width: 100%;
    margin: auto;
}

#donation-link {
    text-decoration: none;
}

#unicef-logo {
    height: 5vh;
    width: 35vw;
    margin: 1rem auto;
    background-image: url(../img/unicef_logo_dark.png);
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.logo {
    margin-top: 1rem;
    height: 5vh;
    width: 100%;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.action-link {
    color: #04f;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.promo-item {
    height: 60vh;
    padding: 0 2rem;
    background-size: 200vw;
    background-position: 49% 80%;
    background-repeat: no-repeat;
}

.text-container {
    margin-top: 1rem
}

.section-header {
    font-size: 2rem;
    font-weight: bold;
}

#macbook-air {
    background-image: url(../img/hero_macbookair_small2x.png);
}

.m2-logo-container {
    background-size: 50%;
}

.m2-logo-container-dark {
    background-image: url(../img/logo_promo_m2_small.png);

}

.m2-logo-container-light {
    background-image: url(../img/logo_promo_macbookair__sm_light.png);
}

#ipad-air-promo{
    background-color: #000;
    color: #fff;
    background-image: url(../img/promo_ipadair_small.jpg);
    background-size: 125vw;
}

#ipad-air-image {
    height: 5vh;
    width: 100%;
    margin-top: 2rem;
    background-image: url(../img/promo_logo_ipadair.png);
    background-repeat: no-repeat;
    background-position: center;
}

#iphone13 {
    background-image: url(../img/hero_iphone13_small.jpg);
}

#supercharged-text{
    color: rgb(255, 0, 89)
}

#supercharged {
    background-image: url(../img/hero_bts_small.jpg);
}

#iphone13-pro-promo {
    background-image: url(../img/iphone13_small.jpg);
}

#apple-fitness-promo{
    background-image: url(../img/tile_applefitness__fdk8xvz0dvu6_small.jpg);
}

#apple-fitness-logo {
    background-image: url(../img/logo__fitness_medium_2x.png);
}

#macbook-13-promo{
    background-color: #000;
    padding: 2rem;
    color: #fff;
    background-image: url(../img/promo_mb13_small2x.jpg);
}

#apple-event-promo{
    color: #fff;
    background-image: url(../img/event_bg_sm2x.jpg);
    background-color: #000
}

#event-text-container{
    margin-bottom: 1rem;
}

#watch-7-promo{
    padding: 2rem;
    color: #fff;
    background-image: url(../img/promo_watch_7_bg_sm2x.jpg);
}

#apple-watch-7-logo {
    background-image: url(../img/promo_watch_7_sm2x.png);
    height: 7vh;

}

#watch-7-promo .action-link{
    color: #fff
}

#disclaimer-section ul li {
    list-style: none;
    margin-bottom: 1rem;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {

    .promo-item {
        height: 50vh;
    }

    #unicef-logo {
        background-image: url(../img/unicef_logo_dark.png);
        width: 20%;
        margin: auto;
    }

    #donation-link {
        width: 60%;
        margin: auto;
    }

    #macbook-air {
        background-image: url(../img/hero_macbookair_medium.png);
        background-size: 180vw;
    }
    
    .m2-logo-container {
        width: 50%;
        margin: auto;
    }
    
    .m2-logo-container-dark {
        background-image: url(../img/logo_promo_m2_small.png);
    }
    
    .m2-logo-container-light {
        background-image: url(../img/logo_promo_macbookair__sm_light.png);

    }
    
    #ipad-air-promo{
        background-image: url(../img/promo_ipadair_med.jpg);
        background-size: 50vw;
    }
    
    #ipad-air-image {
        height: 5vh;
        width: 100%;
        margin-top: 2rem;
        background-image: url(../img/promo_logo_ipadair.png);

    }
    
    #iphone13 {
        background-image: url(../img/hero_iphone13_medium.jpg);
        background-size: 150vw;
    }
    
    #supercharged {
        background-image: url(../img/hero_bts_medium.jpg);
        background-size: 170vw;
    }
    
    #iphone13-pro-promo {
        background-image: url(../img/iphone13_med.jpg);
        background-size: 80vw;
    }
    
    #apple-fitness-promo{
        background-image: url(../img/tile_applefitness__fdk8xvz0dvu6_medium_2x.jpg);
        background-size: 90vw;
    }
    
    #apple-fitness-logo {
        background-image: url(../img/logo__fitness_medium_2x.png);
    }
    
    #macbook-13-promo{
        background-image: url(../img/promo_mb13_med.jpg);
        background-size: 70vw;

    }

    #apple-event-promo{
        background-image: url(../img/event_bg_med.jpg);
        background-size: 70vw;
    }
    
    
    #watch-7-promo{
        background-image: url(../img/promo_watch_7_bg_med.jpg);
        background-size: 100vw;
    }
    


}

@media only screen and (min-width: 992px) {

    .section-header {
        font-size: 3rem;
    }

    .promo-item {
        height: 75vh;
    }

    .logo {
        height: 55px;
        width: 400px;
        margin: 0 auto;
        
    }

    #unicef-logo {
        background-image: url(../img/unicef_logo_dark.png);
        width: 20%;
        margin: auto;
    }

    #donation-link {
        width: 60%;
        margin: auto;
    }

    #macbook-air {
        background-image: url(../img/hero_macbookair_large.png);
        background-size: 140vw;
        background-position: 65% 100%
    }
    
    .m2-logo-container {
        width: 500px;
        margin: auto;
    }
    
    .m2-logo-container-dark {
        background-image: url(../img/logo_promo_m2_small.png);
    }
    
    .m2-logo-container-light {
        background-image: url(../img/logo_promo_macbookair__sm_light.png);
 
    }
    
    #ipad-air-promo{
        background-image: url(../img/promo_ipadair_lg.jpg);
        background-size: 50vw;
    }
    
    #ipad-air-image {
        height: 40px;
        width: 400px;
        margin: 2rem auto;
        background-image: url(../img/promo_logo_ipadair_lg.png);

    }
    
    #iphone13 {
        background-image: url(../img/hero_iphone13_large.jpg);
        background-size: initial;
        background-position: 50% 100%;
    }
    
    #supercharged {
        background-image: url(../img/hero_bts_large.jpg);
    }
    
    #iphone13-pro-promo {
        background-image: url(../img/iphone13_large.jpg);
        background-size: 80vw;
    }
    
    #apple-fitness-promo{
        background-image: url(../img/tile_applefitness__fdk8xvz0dvu6_large_2x.jpg);
        background-size: 80vw;
    }
    
    #apple-fitness-logo {
        background-image: url(../img/logo__fitness_medium_2x.png);
    }
    
    #macbook-13-promo{
        background-image: url(../img/promo_mb13_lg.jpg);
        background-size: 70vw;

    }

    #apple-event-promo{
        background-image: url(../img/event_bg_lg.jpg);
        background-size: 70vw;
    }
    
    
    #watch-7-promo{
        background-image: url(../img/promo_watch_7_bg_lg.jpg);
        background-size: 100vw;
    }


}
/*
@media only screen and (min-width: 1366px) {

    .section-header {
        font-size: 3rem;
    }

    .promo-item {
        height: 60vh;
    }

    .logo {
        height: 55px;
        width: 400px;
        margin: 0 auto;
        
    }

    #unicef-logo {
        background-image: url(../img/unicef_logo_dark.png);
        width: 20%;
        margin: auto;
    }

    #donation-link {
        width: 60%;
        margin: auto;
    }

    #macbook-air {
        background-image: url(../img/hero_macbookair_large.png);
        background-size: 140vw;
        background-position: 65% 100%
    }
    
    .m2-logo-container {
        width: 500px;
        margin: auto;
    }
    
    .m2-logo-container-dark {
        background-image: url(../img/logo_promo_m2_small.png);
    }
    
    .m2-logo-container-light {
        background-image: url(../img/logo_promo_macbookair__sm_light.png);
 
    }
    
    #ipad-air-promo{
        background-image: url(../img/promo_ipadair_lg.jpg);
        background-size: 50vw;
    }
    
    #ipad-air-image {
        height: 40px;
        width: 400px;
        margin: 2rem auto;
        background-image: url(../img/promo_logo_ipadair_lg.png);

    }
    
    #iphone13 {
        background-image: url(../img/hero_iphone13_large.jpg);
        height: 55vh;
        background-position: 50% 100%;

    }
    
    #supercharged {
        background-image: url(../img/hero_bts_large.jpg);
        background-size: 220vw;

        
    }
    
    #iphone13-pro-promo {
        background-image: url(../img/iphone13_large.jpg);
        background-size: 80vw;
    }
    
    #apple-fitness-promo{
        background-image: url(../img/tile_applefitness__fdk8xvz0dvu6_large_2x.jpg);
        background-size: 80vw;
    }
    
    #apple-fitness-logo {
        background-image: url(../img/logo__fitness_medium_2x.png);
    }
    
    #macbook-13-promo{
        background-image: url(../img/promo_mb13_lg.jpg);
        background-size: 70vw;

    }

    #apple-event-promo{
        background-image: url(../img/event_bg_lg.jpg);
        background-size: 70vw;
    }
    
    
    #watch-7-promo{
        background-image: url(../img/promo_watch_7_bg_lg.jpg);
        background-size: 100vw;
    }

}*/